In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
cd drive/My\ Drive/Programmation\ Data/

/content/drive/My Drive/Programmation Data

In [3]:
ls

 20191226_spaces_info.csv
 20191228_Fake_Orders_empty_time.csv
 20191228_Fake_Orders_in_Real_Orders_Time.csv
'2019.12.28 old_new_order_cat1.csv'
'2020.01.02 Final_combined_fake&real_order.csv'
'20200114_Fake_Orders_in_Real_Orders_Time(only_old).csv'
 Fake_Orders_in_Empty_Time.csv
 Fake_Orders_in_Real_Orders_Time_20200219test.csv
 Fake_Orders_in_Real_Orders_Time.csv
 god_account_view.csv
'Old Data'/
 old_new_order_origional.csv
 orders.csv
 Real_Order.csv
 Space_info.csv
 spaces_devices.csv
 spaces_first_time_upload.csv
'spaces(mrt).csv'
 spaces_times.csv
 temp/

## Data Processing

In [4]:
# Delete unnecessary columns, and add 'price_per_size', 'locate_id' as new columns

#####  space.csv處理  #####
import numpy as np
import pandas as pd
data_space = pd.read_csv("spaces(mrt).csv",encoding = 'utf-8')  # spaces.csv

#丟掉space.csv中我們不需要的欄位

data_space = data_space.drop('pickone_no',axis = 1)
data_space = data_space.drop('enabled',axis = 1)
data_space = data_space.drop('created_at',axis = 1)
data_space = data_space.drop('updated_at',axis = 1)
data_space = data_space.drop('thumb',axis = 1)
data_space = data_space.drop('county',axis = 1)
data_space = data_space.drop('district',axis = 1)
data_space = data_space.drop('address',axis = 1)
data_space = data_space.drop('address_info',axis = 1)
data_space = data_space.drop('brief',axis = 1)
data_space = data_space.drop('use_info',axis = 1)
data_space = data_space.drop('device_info',axis = 1)
data_space = data_space.drop('floor_plan',axis = 1)
data_space = data_space.drop('sort',axis = 1)


#把space.csv中的id改名為space_id，並修正space103
data_space.rename(columns = {data_space.columns[0]: 'space_id'}, inplace = True)
data_space.loc[70,'price']=390
data_space=data_space.sort_values(by='space_id')

#定義price_per_size，並把space.csv中的id改名為space_id
for i in range(len(data_space)):
  data_space.loc[i,'price_per_size'] = data_space.loc[i,'price']/data_space.loc[i,'size']

#####  locate_id分配  #####
space_id_list  = data_space["space_id"].tolist()
space_lat_list = data_space["lat"].tolist()
space_lng_list = data_space["lng"].tolist()

for i in range(len(data_space)):
  if (space_lat_list[i] == 25.035915300000003) & (space_lng_list[i]==121.54786010000001):
    data_space.loc[i, 'locate_id'] = 1
  if (space_lat_list[i] == 25.0331768) & (space_lng_list[i]==121.54449640000001):
    data_space.loc[i, 'locate_id'] = 2
  if (space_lat_list[i] == 25.0364536) & (space_lng_list[i]==121.54390490000002):
    data_space.loc[i, 'locate_id'] = 3
  if (space_lat_list[i] == 25.030610999999997) & (space_lng_list[i]==121.543764):
    data_space.loc[i, 'locate_id'] = 4
  if (space_lat_list[i] == 25.053975899999998) & (space_lng_list[i]==121.5505238):
    data_space.loc[i, 'locate_id'] = 5
  if (space_lat_list[i] == 25.059776) & (space_lng_list[i]==121.5439548):
    data_space.loc[i, 'locate_id'] = 6
  if (space_lat_list[i] == 25.031880800000003) & (space_lng_list[i]==121.51937209999998):
    data_space.loc[i, 'locate_id'] = 7
  if (space_lat_list[i] == 25.0460064) & (space_lng_list[i]==121.51917590000001):
    data_space.loc[i, 'locate_id'] = 8
  if (space_lat_list[i] == 25.051114600000002) & (space_lng_list[i]==121.5172929):
    data_space.loc[i, 'locate_id'] = 9
  if (space_lat_list[i] == 25.027279699999998) & (space_lng_list[i]==121.5220325):
    data_space.loc[i, 'locate_id'] = 10
  if (space_lat_list[i] == 25.027801) & (space_lng_list[i]==121.52216399999999):
    data_space.loc[i, 'locate_id'] = 11
  if (space_lat_list[i] == 25.0267416) & (space_lng_list[i]==121.52321740000001):
    data_space.loc[i, 'locate_id'] = 12
  if (space_lat_list[i] == 25.023839000000002) & (space_lng_list[i]==121.52452):
    data_space.loc[i, 'locate_id'] = 13
  if (space_lat_list[i] == 25.021983600000002) & (space_lng_list[i]==121.52707290000001):
    data_space.loc[i, 'locate_id'] = 14
  if (space_lat_list[i] == 25.048663) & (space_lng_list[i]==121.521975):
    data_space.loc[i, 'locate_id'] = 15
  if (space_lat_list[i] == 25.062593) & (space_lng_list[i]==121.5203831):
    data_space.loc[i, 'locate_id'] = 16
  if (space_lat_list[i] == 25.0486715) & (space_lng_list[i]==121.520779):
    data_space.loc[i, 'locate_id'] = 17
  if (space_lat_list[i] == 25.0414199) & (space_lng_list[i]==121.539546):
    data_space.loc[i, 'locate_id'] = 18
  if (space_lat_list[i] == 25.043712600000003) & (space_lng_list[i]==121.5421649):
    data_space.loc[i, 'locate_id'] = 19
  if (space_lat_list[i] == 25.033409) & (space_lng_list[i]==121.53136699999999):
    data_space.loc[i, 'locate_id'] = 20
  if (space_lat_list[i] == 25.054250500000002) & (space_lng_list[i]==121.53328020000001):
    data_space.loc[i, 'locate_id'] = 21
  if (space_lat_list[i] == 25.048142000000002) & (space_lng_list[i]==121.54451599999999):
    data_space.loc[i, 'locate_id'] = 22
  if (space_lat_list[i] == 25.033378) & (space_lng_list[i]==121.55668700000001):
    data_space.loc[i, 'locate_id'] = 23
  if (space_lat_list[i] == 25.034836) & (space_lng_list[i]==121.55385):
    data_space.loc[i, 'locate_id'] = 24
  if (space_lat_list[i] == 25.051274199999998) & (space_lng_list[i]==121.56328219999999):
    data_space.loc[i, 'locate_id'] = 25
  if (space_lat_list[i] == 25.051678699999997) & (space_lng_list[i]==121.5430588):
    data_space.loc[i, 'locate_id'] = 26
  if (space_lat_list[i] == 25.026835100000003) & (space_lng_list[i]==121.5432387):
    data_space.loc[i, 'locate_id'] = 27
  if (space_lat_list[i] == 25.041724) & (space_lng_list[i]==121.555095):
    data_space.loc[i, 'locate_id'] = 28
  if (space_lat_list[i] == 25.073901100000004) & (space_lng_list[i]==121.57859909999999):
    data_space.loc[i, 'locate_id'] = 29
  if (space_lat_list[i] == 25.0526598) & (space_lng_list[i]==121.54482900000001):
    data_space.loc[i, 'locate_id'] = 30
  if (space_lat_list[i] == 25.0047) & (space_lng_list[i]==121.538524):
    data_space.loc[i, 'locate_id'] = 31
  if (space_lat_list[i] == 25.048352899999998) & (space_lng_list[i]==121.5325303):
    data_space.loc[i, 'locate_id'] = 32
data_space=data_space.fillna(0)
data_space=data_space[data_space['locate_id']>0] # 將不符合的space篩掉

#####  刪除特定space_id
data_space = data_space.loc[data_space['space_id']!=2]
data_space = data_space.loc[data_space['space_id']!=61]
data_space = data_space.loc[data_space['space_id']!=107]
data_space = data_space.loc[data_space['space_id']!=108]
data_space = data_space.loc[data_space['space_id']!=109]
data_space = data_space.loc[data_space['space_id']!=120]
data_space = data_space.loc[data_space['space_id']!=188]
data_space = data_space.loc[data_space['space_id']!=189]
data_space = data_space.loc[data_space['space_id']!=190]
data_space = data_space.loc[data_space['space_id']!=191]
data_space = data_space.drop('title',axis = 1)
data_space = data_space.drop('lat',axis = 1)
data_space = data_space.drop('lng',axis = 1)

#data_space.to_csv("Space_info.csv",index=False,sep=',',encoding = 'big5')
data_space

#data_space.loc[data_space['space_id']==167] ##已解決

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:30: RuntimeWarning: divide by zero encountered in long_scalars

     space_id  people  price  size  zipcode    mrt  price_per_size  locate_id
0           1      17    300    12    100.0   台北車站       25.000000        8.0
2           3       6    200     5    106.0    大安站       40.000000        1.0
3           4       8    280     9    100.0    古亭站       31.111111       10.0
4           5       8    280     9    100.0    古亭站       31.111111       10.0
5           6      16    430    13    100.0   台北車站       33.076923        8.0
..        ...     ...    ...   ...      ...    ...             ...        ...
150       183      10    450    10    116.0    萬隆站       45.000000       31.0
151       184      16    450     9    106.0    古亭站       50.000000       11.0
152       185      40    900    25    105.0  南京復興站       36.000000       22.0
153       186      22    660    14    105.0  南京復興站       47.142857       22.0
154       187      27    700    22    105.0  南京復興站       31.818182       22.0

[149 rows x 8 columns]

In [5]:
# Delete specific user_id, and add 'start_time_group', 'end_time_group','weekday','Is_holiday' as new columns

#####  order.csv處理  #####
data_order = pd.read_csv("old_new_order_origional.csv", encoding = 'utf-8')

#####。刪除特定user_id(employee)
data_order = data_order.loc[data_order['user_id'] != 1307]
data_order = data_order.loc[data_order['user_id'] != 798]
data_order = data_order.loc[data_order['user_id'] != 552]
data_order = data_order.loc[data_order['user_id'] != 3]
data_order = data_order.loc[data_order['user_id'] != 1367]
data_order = data_order.loc[data_order['user_id'] != 2899]
data_order = data_order.loc[data_order['user_id'] != 6027]
data_order = data_order.loc[data_order['user_id'] != 524]
data_order = data_order.loc[data_order['user_id'] != 7637]
data_order = data_order.loc[data_order['user_id'] != 11161]
data_order = data_order.loc[data_order['user_id'] != 14300]
data_order = data_order.loc[data_order['user_id'] != 1389]
data_order = data_order.loc[data_order['user_id'] != 100]
data_order = data_order.loc[data_order['user_id'] != 18374]
data_order = data_order.loc[data_order['user_id'] != 19331]
data_order = data_order.loc[data_order['user_id'] != 1]
data_order = data_order.loc[data_order['user_id'] != 17571]
data_order = data_order.loc[data_order['user_id'] != 240]

data_order = data_order.loc[data_order['space_id'] != 2]
data_order = data_order.loc[data_order['space_id'] != 61]
data_order = data_order.loc[data_order['space_id'] != 107]
data_order = data_order.loc[data_order['space_id'] != 108]
data_order = data_order.loc[data_order['space_id'] != 109]
data_order = data_order.loc[data_order['space_id'] != 120]
data_order = data_order.loc[data_order['space_id'] != 188]
data_order = data_order.loc[data_order['space_id'] != 189]
data_order = data_order.loc[data_order['space_id'] != 190]
data_order = data_order.loc[data_order['space_id'] != 191]

#####  刪除月票會員的會員期間訂單
import datetime as dt
import pytz
data_god_account = pd.read_csv("god_account_view.csv", encoding = 'utf-8')
data_god_account = data_god_account.fillna(dt.datetime(2020,1,17)) #日期為今日日期
  #轉datetime
data_order['created_at'] = pd.to_datetime(data_order['created_at']) 
data_god_account['created_at'] = pd.to_datetime(data_god_account['created_at'])
data_god_account['deleted_at'] = pd.to_datetime(data_god_account['deleted_at'])
  #轉成list以抽取資料
created_at_list = data_god_account["created_at"].tolist()
deleted_at_list = data_god_account["deleted_at"].tolist()
user_id_list = data_god_account["user_id"].tolist()

colNames = ('id','user_id','space_id','no',	'description',	'date',	'start','end','company_number','code','discount',	'point','original_amount','amount',	'type','status','created_at','updated_at','returned_data','hours','category')
masterDF = pd.DataFrame(columns = colNames)
  #開始找出月票會員的會員期間訂單
for i in range(len(data_god_account)):
  temp_order = data_order[data_order['user_id'] == user_id_list[i]]
  result = temp_order[temp_order["created_at"].between(created_at_list[i], deleted_at_list[i])]
  masterDF = masterDF.append(result,ignore_index=True)
  #合併至原本訂單，並刪除重複的(剔除會員期間訂單)
last = masterDF.append(data_order,ignore_index=True)
data_order = last.drop_duplicates(subset='id', keep=False, inplace=False)

#丟掉order.csv中我們不需要的欄位，並且丟掉沒成立的訂單與月票訂單
data_order = data_order.drop('user_id',axis = 1)
data_order = data_order.drop('no',axis = 1)
data_order = data_order.drop('description',axis = 1)
data_order = data_order.drop('company_number',axis = 1)
data_order = data_order.drop('code',axis = 1)
data_order = data_order.drop('discount',axis = 1)
data_order = data_order.drop('point',axis = 1)
data_order = data_order.drop('original_amount',axis = 1)
data_order = data_order.drop('amount',axis = 1)
data_order = data_order.drop('type',axis = 1)
data_order = data_order.drop('created_at',axis = 1)
data_order = data_order.drop('returned_data',axis = 1)
data_order = data_order.drop('updated_at',axis = 1)
data_order = data_order[data_order['status'] == 2]
data_order = data_order[data_order['category'] == 1]
data_order.reset_index(inplace=True)


#新增start_time_group跟end_time_group

# timegroup1 = ['06:00','06:30','07:00','07:30','08:00','08:30','09:00','09:30','10:00','10:30','11:00','11:30']
# timegroup2 = ['12:00','12:30','13:00','13:30']
# timegroup3 = ['14:00','14:30','15:00','15:30','16:00','16:30','17:00','17:30']
# timegroup4 = ['18:00','18:30','19:00','19:30','20:00','20:30','21:00','21:30','22:00','22:30','23:00','23:30','0:00','01:00','01:30','02:00','02:30','03:00','03:30','04:00','04:30','05:00','05:30']
timegroup1 = ['06:00','6:00','06:30','6:30','07:00','7:00','07:30','7:30','08:00','8:00','08:30','8:30','09:00','9:00','09:30','9:30','10:00','10:30','11:00','11:30', '12:00']
timegroup2 = ['12:00','12:30','13:00','13:30', '14:00']
timegroup3 = ['14:00','14:30','15:00','15:30','16:00','16:30','17:00','17:30', '18:00']
timegroup4 = ['18:00','18:30','19:00','19:30','20:00','20:30','21:00','21:30','22:00','22:30','23:00','23:30', '24:00', '24:00:00', '0:00','00:00', '00:30', '01:00','1:00','01:30','1:30','02:00','2:00','02:30','2:30','03:00','3:00','03:30','3:30','04:00','4:00','04:30','4:30','05:00','5:00','05:30','5:30', '06:00', '6:00']

for i in range(len(data_order)):
  if data_order.loc[i, 'start'] in timegroup1:
    data_order.loc[i, 'start_time_group'] = 1
  elif data_order.loc[i, 'start'] in timegroup2:
    data_order.loc[i, 'start_time_group'] = 2
  elif data_order.loc[i, 'start'] in timegroup3:
    data_order.loc[i, 'start_time_group'] = 3
  elif data_order.loc[i, 'start'] in timegroup4:
    data_order.loc[i, 'start_time_group'] = 4
  if data_order.loc[i, 'end'] in timegroup1:
    data_order.loc[i, 'end_time_group'] = 1
  elif data_order.loc[i, 'end'] in timegroup2:
    data_order.loc[i, 'end_time_group'] = 2
  elif data_order.loc[i, 'end'] in timegroup3:
    data_order.loc[i, 'end_time_group'] = 3
  elif data_order.loc[i, 'end'] in timegroup4:
    data_order.loc[i, 'end_time_group'] = 4

#新增weekday跟Is_holiday
from datetime import datetime
for i in range(len(data_order)):
  data_order.loc[i,'weekday'] = datetime.strptime(data_order.loc[i,'date'],'%d/%m/%Y').weekday()
  data_order.loc[i,'weekday'] += 1
  if (data_order.loc[i,'weekday'] == 6 or data_order.loc[i,'weekday'] == 7):
    data_order.loc[i,'Is_holiday'] = 1
  else:
    data_order.loc[i,'Is_holiday'] = 0
data_order

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8,18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        index      id space_id  ... end_time_group weekday Is_holiday
0        1410       4       24  ...            3.0     5.0        0.0
1        1420      16       14  ...            1.0     5.0        0.0
2        1423      25       20  ...            3.0     6.0        1.0
3        1426      28       69  ...            4.0     1.0        0.0
4        1427      29       13  ...            4.0     1.0        0.0
...       ...     ...      ...  ...            ...     ...        ...
96049  193534  195951       87  ...            3.0     6.0        1.0
96050  193537  195954       84  ...            3.0     6.0        1.0
96051  193538  195955      119  ...            1.0     4.0        0.0
96052  193539  195956      182  ...            3.0     7.0        1.0
96053  193540  195957       81  ...            4.0     4.0        0.0

[96054 rows x 13 columns]

In [6]:
data_order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96054 entries, 0 to 96053
Data columns (total 13 columns):
index               96054 non-null int64
id                  96054 non-null object
space_id            96054 non-null object
date                96054 non-null object
start               96054 non-null object
end                 96054 non-null object
status              96054 non-null object
hours               96054 non-null float64
category            96054 non-null object
start_time_group    96054 non-null float64
end_time_group      96054 non-null float64
weekday             96054 non-null float64
Is_holiday          96054 non-null float64
dtypes: float64(5), int64(1), object(7)
memory usage: 9.5+ MB

In [32]:
# Transpose 'space_device' 

#####  spaces_devices轉置  #####
import numpy as np
import pandas as pd
spaces_devices = pd.read_csv("spaces_devices.csv")
#####  去除不需要的欄  #####
spaces_devices = spaces_devices.drop('updated_at',axis = 1)
spaces_devices = spaces_devices.drop('info',axis = 1)
spaces_devices = spaces_devices.drop('sub_info',axis = 1)
spaces_devices = spaces_devices.drop('created_at',axis = 1)
spaces_devices = spaces_devices.drop('id',axis = 1)

#####  將所有的space_id列出並轉成list  #####  
space_id = spaces_devices
space_id = space_id.drop('device_id',axis = 1)
space_id = space_id.drop_duplicates(subset='space_id', keep='first', inplace=False)
space_id = space_id.reset_index(drop=True)
space_id.sort_values(by='space_id')
space_id_list=space_id["space_id"].tolist()

#####  將房間所有的device列出，並用has表示有無  #####
colNames = ('space_id','device_id','has')
masterDF = pd.DataFrame(columns = colNames)


for i in range(len(space_id_list)):
  temp_space_id = spaces_devices[spaces_devices['space_id'] == space_id_list[i]]
  temp_space_id = temp_space_id.reset_index()
  temp_device_id = temp_space_id["device_id"].tolist()

  for j in range(20): # 20為device的數量!!!未來有新增device的話要改
    
    if (j not in temp_device_id):
      d = {"space_id" : [space_id_list[i]],
           "device_id" : [j],
           "has":[0]}
      df = pd.DataFrame(d)
      masterDF = masterDF.append(df,ignore_index=True)
    if (j in temp_device_id):
      d = {"space_id" : [space_id_list[i]],
           "device_id" : [j],
           "has":[1]}
      df = pd.DataFrame(d)
      masterDF = masterDF.append(df,ignore_index=True)

#####  將masterDF轉置成以space_id為列  #####  
device_colNames = ('space_id','0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19')
lastDF = pd.DataFrame(columns = device_colNames)
for i in range(len(space_id_list)):
  temp_masterDF = masterDF[masterDF['space_id'] == space_id_list[i]]
  temp_masterDF = temp_masterDF['has'].tolist()
  pp={"space_id" : space_id_list[i],
      "0":temp_masterDF[0],
      "1":temp_masterDF[1],
      "2":temp_masterDF[2],
      "3":temp_masterDF[3],
      "4":temp_masterDF[4],
      "5":temp_masterDF[5],
      "6":temp_masterDF[6],
      "7":temp_masterDF[7],
      "8":temp_masterDF[8],
      "9":temp_masterDF[9],
      "10":temp_masterDF[10],
      "11":temp_masterDF[11],
      "12":temp_masterDF[12],
      "13":temp_masterDF[13],
      "14":temp_masterDF[14],
      "15":temp_masterDF[15],
      "16":temp_masterDF[16],
      "17":temp_masterDF[17],
      "18":temp_masterDF[18],
      "19":temp_masterDF[19],
      }
  lastDF = lastDF.append(pp,ignore_index=True) # 合成dataframe
lastDF = lastDF.sort_values(by='space_id')

#####  轉成 int
lastDF['0'] = lastDF['0'].astype(np.int64)
lastDF['1'] = lastDF['1'].astype(np.int64)
lastDF['2'] = lastDF['2'].astype(np.int64)
lastDF['3'] = lastDF['3'].astype(np.int64)
lastDF['4'] = lastDF['4'].astype(np.int64)
lastDF['5'] = lastDF['5'].astype(np.int64)
lastDF['6'] = lastDF['6'].astype(np.int64)
lastDF['7'] = lastDF['7'].astype(np.int64)
lastDF['8'] = lastDF['8'].astype(np.int64)
lastDF['9'] = lastDF['9'].astype(np.int64)
lastDF['10'] = lastDF['10'].astype(np.int64)
lastDF['11'] = lastDF['11'].astype(np.int64)
lastDF['12'] = lastDF['12'].astype(np.int64)
lastDF['13'] = lastDF['13'].astype(np.int64)
lastDF['14'] = lastDF['14'].astype(np.int64)
lastDF['15'] = lastDF['15'].astype(np.int64)
lastDF['16'] = lastDF['16'].astype(np.int64)
lastDF['17'] = lastDF['17'].astype(np.int64)
lastDF['18'] = lastDF['18'].astype(np.int64)
lastDF['19'] = lastDF['19'].astype(np.int64)


lastDF = lastDF.loc[lastDF['space_id'] != 2]
lastDF = lastDF.loc[lastDF['space_id'] != 61]
lastDF = lastDF.loc[lastDF['space_id'] != 107]
lastDF = lastDF.loc[lastDF['space_id'] != 108]
lastDF = lastDF.loc[lastDF['space_id'] != 109]
lastDF = lastDF.loc[lastDF['space_id'] != 120]
lastDF = lastDF.loc[lastDF['space_id'] != 188]
lastDF = lastDF.loc[lastDF['space_id'] != 189]
lastDF = lastDF.loc[lastDF['space_id'] != 190]
lastDF = lastDF.loc[lastDF['space_id'] != 191]

lastDF.to_csv("space_device (Tranfer).csv", index=False, sep=',',encoding='utf-8')
spaces_devices_transfer = lastDF
spaces_devices_transfer

    space_id  0  1  2  3  4  5  6  7  8  ...  10  11  12  13  14  15  16  17  18  19
0          1  1  1  1  1  1  0  1  1  1  ...   0   0   0   0   0   0   1   1   1   1
58         3  1  1  1  1  1  1  1  1  1  ...   0   0   1   0   0   0   1   1   1   1
26         4  1  1  1  1  1  1  1  1  1  ...   0   0   1   0   0   0   1   1   1   1
27         5  1  1  1  1  1  1  1  1  1  ...   0   0   0   0   0   0   0   1   1   1
28         6  1  1  1  1  1  1  1  1  1  ...   1   1   1   0   0   0   1   0   1   1
..       ... .. .. .. .. .. .. .. .. ..  ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
151      183  0  0  1  0  1  1  1  1  1  ...   0   0   1   0   1   0   1   0   0   1
149      184  1  1  1  1  1  1  1  1  1  ...   1   1   1   0   0   0   1   0   1   1
157      185  1  1  1  1  1  1  1  1  1  ...   1   1   1   0   0   0   1   0   1   1
153      186  1  1  1  1  1  1  1  1  1  ...   1   1   1   0   0   0   1   0   1   1
152      187  1  1  1  1  1  1  1  1  1  ...   1   1   1   0   0   0   1   0   1   1

[149 rows x 21 columns]

In [24]:
# Combine space & order information with transpose result and create 'order_price'

#將兩個資料表(space, order)用space_id結合

data_new = pd.merge(data_order, data_space, on=['space_id'], how='left')
data_new = data_new.drop('index', axis = 1)
#####  order price=price*hours  #####
for i in range(len(data_new)):
  data_new.loc[i,'order_price'] = data_new.loc[i,'price']*data_new.loc[i,'hours']

#####  調整欄位順序  #####  
data_new = data_new.loc[:, ['id','locate_id','space_id','size','hours','price','order_price','price_per_size','date','start','end','start_time_group','end_time_group','weekday','Is_holiday','zipcode','category','mrt','status']] 

#####  將轉置好的device加入  #####

data_final = pd.merge(data_new, spaces_devices_transfer, on=['space_id'], how='left')

data_final['locate_id'] = data_final['locate_id'].astype(np.int64)
data_final['start_time_group'] = data_final['start_time_group'].astype(np.int64)
data_final['end_time_group'] = data_final['end_time_group'].astype(np.int64)
data_final['weekday'] = data_final['weekday'].astype(np.int64)
data_final['Is_holiday'] = data_final['Is_holiday'].astype(np.int64)
data_final['zipcode'] = data_final['zipcode'].astype(np.int64)

data_final = data_final.sort_values(by='space_id')

data_final.to_csv("Real_Order.csv",index=False,sep=',',encoding = 'utf-8')
data_final

           id  locate_id space_id  size  hours  price  ...  14  15 16 17 18  19
6271    10403          8        1    12    4.0    300  ...   0   0  1  1  1   1
6170    10286          8        1    12    3.0    300  ...   0   0  1  1  1   1
5860     9949          8        1    12    3.0    300  ...   0   0  1  1  1   1
6169    10285          8        1    12    3.0    300  ...   0   0  1  1  1   1
5861     9950          8        1    12    2.0    300  ...   0   0  1  1  1   1
...       ...        ...      ...   ...    ...    ...  ...  ..  .. .. .. ..  ..
95566  194525         22      187    22    8.0    700  ...   0   0  1  0  1   1
95520  194396         22      187    22    4.0    700  ...   0   0  1  0  1   1
95942  195657         22      187    22    2.0    700  ...   0   0  1  0  1   1
95570  194531         22      187    22    8.0    700  ...   0   0  1  0  1   1
95295  193859         22      187    22    4.0    700  ...   0   0  1  0  1   1

[96054 rows x 39 columns]

## Fake Order Generation

In [9]:
#####  生成產生假訂單的資料 space_info.csv  #####

import numpy as np
import pandas as pd
#####. 輸入資料並整理. #####
data_space_temp1 = data_space[['locate_id', 'space_id', 'price', 'size', 'zipcode', 'mrt']]
data_space_temp2 = pd.read_csv("spaces(mrt).csv", encoding = 'utf-8')
data_spaces_first_time_upload = pd.read_csv("spaces_first_time_upload.csv", encoding = 'utf-8')
data_spaces_times = pd.read_csv("spaces_times.csv",encoding = 'utf-8')

data_space_temp2.rename(columns = {data_space_temp2.columns[0]: 'space_id'}, inplace = True)
data_space_temp2 = data_space_temp2.loc[:, ['space_id', 'created_at', 'enabled']]
data_spaces_first_time_upload.rename(columns = {data_spaces_first_time_upload.columns[0]: 'space_id'}, inplace = True)
data_spaces_first_time_upload = data_spaces_first_time_upload.loc[:, ['space_id', 'updated_at']]

data_space_combine1 = pd.merge(data_space_temp1, data_space_temp2, on=['space_id'], how='left')
data_space_combine2 = pd.merge(data_space_combine1, data_spaces_first_time_upload, on=['space_id'], how='left')
data_space_new = data_space_combine2[['locate_id', 'space_id', 'price', 'size', 'zipcode', 'created_at', 'updated_at', 'enabled', 'mrt']]
# data_space_new

#####  先合併spaces_times.csv&spaces.csv  #####
data_spaces_times = data_spaces_times.drop('id',axis = 1)
data_spaces_times = data_spaces_times.drop('created_at',axis = 1)
data_spaces_times = data_spaces_times.drop('updated_at',axis = 1)
data_spaces_times = data_spaces_times.loc[data_spaces_times['space_id']!=61]
data_spaces_times = data_spaces_times.loc[data_spaces_times['space_id']!=107]
data_spaces_times = data_spaces_times.loc[data_spaces_times['space_id']!=108]
data_spaces_times = data_spaces_times.loc[data_spaces_times['space_id']!=109]
data_spaces_times = data_spaces_times.loc[data_spaces_times['space_id']!=120]
data_spaces_times = data_spaces_times.loc[data_spaces_times['space_id']!=188]
data_spaces_times = data_spaces_times.loc[data_spaces_times['space_id']!=189]
data_spaces_times = data_spaces_times.loc[data_spaces_times['space_id']!=190]
data_spaces_times = data_spaces_times.loc[data_spaces_times['space_id']!=191]

# 修正 space 資訊   
## data_spaces_times.loc[data_spaces_times['space_id']==103] => 161
## data_spaces_times.loc[data_spaces_times['space_id']==127] => 166
data_spaces_times.loc[161, 'open_day'] = 1
data_spaces_times.loc[161, 'close_day'] = 7
data_spaces_times.loc[161, 'open_time'] = '08:00' 

data_spaces_times.drop(166, axis=0,inplace=True)
data_spaces_times = data_spaces_times.sort_values(by='space_id')
#data_spaces_times

data_space_info = pd.merge(data_spaces_times, data_space_new, on=['space_id'], how='left')
data_space_info = data_space_info[['locate_id', 'space_id', 'price', 'size', 'zipcode', 'open_day', 'close_day', 'open_time', 'close_time', 'created_at', 'updated_at', 'enabled', 'mrt']]

##### 輸出成 space_info.csv 檔案 #####
data_space_info.to_csv("Space_info.csv", index=False, sep=',', encoding = 'utf-8')

data_space_info

     locate_id  space_id  price  ...           updated_at  enabled    mrt
0          8.0         1    300  ...   23/4/2019 01:20:42        0   台北車站
1          1.0         3    200  ...  15/11/2019 23:17:43        1    大安站
2         10.0         4    280  ...   23/4/2019 01:20:44        0    古亭站
3         10.0         5    280  ...   23/4/2019 01:20:45        0    古亭站
4          8.0         6    430  ...  15/11/2019 23:17:43        1   台北車站
..         ...       ...    ...  ...                  ...      ...    ...
175       31.0       183    450  ...  15/11/2019 23:26:13        1    萬隆站
176       11.0       184    450  ...  15/11/2019 23:17:43        1    古亭站
177       22.0       185    900  ...  18/11/2019 23:55:20        1  南京復興站
178       22.0       186    660  ...  17/11/2019 21:04:35        1  南京復興站
179       22.0       187    700  ...  17/11/2019 21:04:34        1  南京復興站

[180 rows x 13 columns]

In [25]:
import csv
import datetime

###############################################
##### Part 1: Read the spaces information #####
###############################################
# with open('20191226_spaces_info.csv', newline='', encoding='big5') as space_file:
with open('Space_info.csv', newline='', encoding='utf-8') as space_file:
  # 讀取 CSV 檔內容，將每一列轉成一個 dictionary
  spaces_info = csv.DictReader(space_file)
  
  # 以迴圈讀取指定欄位
  locate_id = []; space_id = []; price = []; size = []; zipcode = []; updated_at = []; enabled = [];
  open_day = []; close_day = []; open_time = []; close_time = []; created_at = []; mrt = [];
  for i in spaces_info:
    locate_id.append(i['locate_id'])
    space_id.append(i['space_id'])
    price.append(i['price'])
    size.append(i['size'])
    zipcode.append(i['zipcode'])
    open_day.append(i['open_day'])
    close_day.append(i['close_day'])
    open_time.append(i['open_time'])
    close_time.append(i['close_time'])
    created_at.append(i['created_at'])
    mrt.append(i['mrt'])
    updated_at.append(i['updated_at']) # 20191228_updated
    enabled.append(i['enabled'])       # 20191228_updated
  space_file.close()
#print(type(locate_id[1]))
locate_id = list(map(float, locate_id))
#print(type(locate_id[1]))
locate_id = list(map(int, locate_id))
#print(type(locate_id[1]))
space_id = list(map(int, space_id))
price = list(map(int, price))
size = list(map(int, size))
zipcode = list(map(float, zipcode))
zipcode = list(map(int, zipcode))
open_day = list(map(int, open_day))
close_day = list(map(int, close_day))
enabled = list(map(int, enabled))

print("Read the Space information successfully.")


##### Read the real Orders information #####

with open('Real_Order.csv', newline='', encoding='utf-8') as test_file:
#with open('2019.12.28 old_new_order_cat1_change_timeformat.csv', newline='', encoding='big5') as test_file:

  # 讀取 CSV 檔內容，將每一列轉成一個 dictionary
  test_info = csv.DictReader(test_file)
  
  # 以迴圈讀取指定欄位
  r_space_id = []; r_date = []; r_start = []; r_end = [];
  r_start_time_group = []; r_end_time_group = [];
  for i in test_info:
    r_space_id.append(i['space_id'])
    r_date.append(i['date'])
    r_start.append(i['start'])
    r_end.append(i['end'])
    r_start_time_group.append(i['start_time_group'])
    r_end_time_group.append(i['end_time_group'])
  test_file.close()

r_space_id = list(map(int, r_space_id))
r_no_dupl_space_id = list(set(r_space_id)) #delete the duplicates & use set() to sort the 
#r_start_time_group = list(map(float, r_start_time_group))
r_start_time_group = list(map(int, r_start_time_group))
#df['DataFrame Column'] = df['DataFrame Column'].astype(int)
r_end_time_group = list(map(int, r_end_time_group))

for i in range(0, len(r_date)):
  r_date[i] = datetime.datetime.strptime(r_date[i], "%d/%m/%Y")
  #r_date[i] = datetime.datetime.strptime(r_date[i], "%Y/%m/%d")

print("Read the Real Order information successfully.")

Read the Space information successfully.
Read the Real Order information successfully.

In [26]:
print(locate_id)
print(len(space_id))
print(len(r_start_time_group))
print(len(r_end_time_group))
print(len(r_space_id))
print(len(r_date))
#print(count_temp)
print(len(r_no_dupl_space_id))
print(r_date[96053])
#print(r_date[96054])
#print(len_count)
#print(len(space_id))

[8, 1, 10, 10, 8, 7, 12, 12, 12, 12, 12, 18, 18, 26, 26, 27, 27, 27, 27, 27, 17, 17, 17, 17, 2, 2, 2, 30, 30, 30, 30, 6, 6, 6, 6, 25, 25, 25, 25, 25, 14, 14, 14, 14, 21, 21, 21, 21, 21, 21, 23, 23, 23, 23, 23, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 8, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 3, 3, 3, 3, 3, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 19, 19, 19, 19, 7, 7, 7, 7, 7, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 32, 32, 32, 32, 32, 32, 29, 29, 4, 4, 4, 4, 4, 4, 24, 24, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 9, 9, 9, 9, 9, 9, 15, 15, 15, 31, 11, 22, 22, 22]
180
96054
96054
96054
96054
144
2019-12-14 00:00:00

In [29]:
#########################################################################
##### Part 2-1: Generate Fake Orders => in Current Real Orders Time #####
#########################################################################
format = '%H:%M'

with open('Fake_Orders_in_Real_Orders_Time.csv', mode='w', newline='', encoding='utf-8') as f1:
    FOrders_writer = csv.writer(f1)

    order_id = 300000    #訂單編號
    category = 1         #普通方案
    Is_holiday = 0       #是否為假日
    status = 1           #沒租出去

    start_time_group = 0
    end_time_group = 0
    morning = datetime.datetime.strptime("12:00", format)     # 1: 06:00 ~ 12:00
    noon = datetime.datetime.strptime("14:00", format)        # 2: 12:00 ~ 14:00
    afternoon = datetime.datetime.strptime("18:00", format)   # 3: 14:00 ~ 18:00
    night = datetime.datetime.strptime("23:59", format)       # 4: 18:00 ~ 24:00 , 00:00 ~ 06:00
    midnight = datetime.datetime.strptime("06:00", format)

    ##### Write the Fake Orders in real order time #####
    FOrders_writer.writerow(['id', 'locate_id', 'space_id', 'hours', 'price', 'order_price', 'size', 'price_per_size', 'date', 'start', 'end', 'start_time_group', 'end_time_group', 'weekday', 'Is_holiday', 'zipcode', 'category', 'mrt', 'status'])
    total = 4
    count_temp = 0
    len_count = 0
    # arrive_end_position = 0

    for i in range(0, len(r_no_dupl_space_id)):  #遍歷真實訂單中的space_id（不重複）
      t = i
      while(r_no_dupl_space_id[i] != space_id[t]):
        t += 1 

      ##### 計算space的創造時間 ######
      len_of_same_space_order = r_space_id.count(r_space_id[len_count]) #計算同一間房間有多少訂單
      len_count += len_of_same_space_order
      
      same_space_time_group = []
      temp_compare_time_group = []

      ##### 設定房間起始日期 #####
      order_start = datetime.datetime.strptime(open_time[t], format) #訂單開始時間
      order_end = datetime.datetime.strptime(close_time[t], format)  #訂單結束時間
      if (order_start >= midnight and order_start < morning):
        temp_compare_time_group.append(1)
      elif (order_start >= morning and order_start < noon):
        temp_compare_time_group.append(2)
      elif (order_start >= noon and order_start < afternoon):
        temp_compare_time_group.append(3)
      else:
        temp_compare_time_group.append(4)
      
      if (order_end > midnight and order_end <= morning):
        temp_compare_time_group.append(1)
      elif (order_end > morning and order_end <= noon):
        temp_compare_time_group.append(2)
      elif (order_end > noon and order_end <= afternoon):
        temp_compare_time_group.append(3)
      else:
        temp_compare_time_group.append(4)
      temp_compare_time_group = list(range(temp_compare_time_group[0], temp_compare_time_group[1] + 1))
      #temp_compare_time_group = [1, 2, 3, 4] or [2, 3, 4] or [1, 2] etc.

      for g in range(0, len_of_same_space_order):
        if((count_temp + 1) == len(r_space_id)):
          r_date.append('')

        if(r_date[count_temp] == r_date[count_temp+1]):
          for u in range(r_start_time_group[count_temp], r_end_time_group[count_temp] + 1):
            same_space_time_group.append(u)

        elif(r_date[count_temp] != r_date[count_temp+1]):
          for u in range(r_start_time_group[count_temp], r_end_time_group[count_temp] + 1):
            same_space_time_group.append(u)

          diff_time_group = list(set(temp_compare_time_group) - set(same_space_time_group))
          for k in diff_time_group:
            if (k == 1):
              order_start = datetime.datetime.strptime("09:00", format)
              order_end = morning
            elif (k == 2):
              order_start = morning
              order_end = noon
            elif (k == 3):
              order_start = noon
              order_end = afternoon
            else:
              order_start = afternoon
              order_end = datetime.datetime.strptime("21:00", format)
            ##### 計算訂單租用時間 #####
            diff = order_end - order_start 
            seconds = diff.total_seconds()
            hours = seconds // 3600
            minutes = (seconds % 3600) // 60
            duration = hours + minutes/60  #訂單租用時間
            Is_holiday = 1 if(r_date[count_temp].isoweekday() == 6 or r_date[count_temp].isoweekday() == 7) else 0
            ##### 開始產生訂單 #####
            FOrders_writer.writerow([order_id, locate_id[t], space_id[t], duration, price[t], price[t]*duration, size[t], price[t]/size[t], r_date[count_temp].date().strftime("%d/%m/%Y"), order_start.strftime("%H:%M:%S"), order_end.strftime("%H:%M:%S"), k, k, r_date[count_temp].isoweekday(), Is_holiday, zipcode[t], category, mrt[t], status])
            order_id += 1
          same_space_time_group = []
        count_temp += 1

    print("Generate the \"Fake_Orders_in_Real_Orders_Time.csv\" successfully.")
    f1.close()

###########################################################
##### Part 2-2: Generate Fake Orders => in Empty Time #####
###########################################################


with open('Fake_Orders_in_Empty_Time.csv', mode='w', newline='', encoding='utf-8') as f2:
  FOrders_writer = csv.writer(f2)

  order_id = 600000    #假訂單編號
  category = 1         #普通方案
  Is_holiday = 0       #是否為假日
  status = 1           #沒有真實訂單

  #start_date = "08/02/2017"  #str %d/%m/%Y
  #start_date = datetime.datetime.strptime(start_date, "%d/%m/%Y")
  end_date = "23/12/2019"
  end_date = datetime.datetime.strptime(end_date , "%d/%m/%Y")

  check_day = []
  start_time_group = 0
  end_time_group = 0
  morning = datetime.datetime.strptime("12:00", format)     # 1: 06:00 ~ 12:00
  noon = datetime.datetime.strptime("14:00", format)        # 2: 12:00 ~ 14:00
  afternoon = datetime.datetime.strptime("18:00", format)   # 3: 14:00 ~ 18:00
  night = datetime.datetime.strptime("23:59", format)       # 4: 18:00 ~ 24:00 , 00:00 ~ 06:00
  midnight = datetime.datetime.strptime("06:00", format)

  ##### Write the Fake Orders #####
  FOrders_writer.writerow(['id', 'locate_id', 'space_id', 'size', 'hours', 'price', 'order_price', 'price_per_size', 'date', 'start', 'end', 'start_time_group', 'end_time_group', 'weekday', 'Is_holiday', 'zipcode', 'category', 'mrt', 'status'])
  for i in range(0, len(space_id)):  #space_list

    ##### 計算space的創造時間 ######
    # space_created = datetime.datetime.strptime(created_at[i], '%d%b%y:%H:%M:%S') #read info like '08FEB17:21:43:04' #2019/11/8  6:06:17 PM
    space_created = datetime.datetime.strptime(created_at[i], '%Y-%m-%d %H:%M:%S')
    space_created_date = datetime.datetime.strptime(space_created.strftime("%d/%m/%Y"), "%d/%m/%Y") #空間建立時間
    
    if(enabled[i] == 0):
      # space_end = datetime.datetime.strptime(updated_at[i], '%d%b%y:%H:%M:%S')   #read info like '23APR19:01:20:42'
      space_end = datetime.datetime.strptime(updated_at[i], '%d/%m/%Y %H:%M:%S')
      space_end_date = datetime.datetime.strptime(space_end.strftime("%d/%m/%Y") , "%d/%m/%Y")
      len_of_date = (space_end_date - space_created_date).days + 1
    else:
      len_of_date = (end_date - space_created_date).days + 1 #int 計算兩個日期間距
    
    ##### 設定房間起始日期 #####
    date = datetime.datetime.strptime(space_created.strftime("%d/%m/%Y"), "%d/%m/%Y")
    order_start = datetime.datetime.strptime(open_time[i], format) #訂單開始時間
    order_end = datetime.datetime.strptime(close_time[i], format)  #訂單結束時間
    if (order_start >= midnight and order_start < morning):
      start_time_group = 1
    elif (order_start >= morning and order_start < noon):
      start_time_group = 2
    elif (order_start >= noon and order_start < afternoon):
      start_time_group = 3
    else:
      start_time_group = 4

    if (order_end > midnight and order_end <= morning):
      end_time_group = 1
    elif (order_end > morning and order_end <= noon):
      end_time_group = 2
    elif (order_end > noon and order_end <= afternoon):
      end_time_group = 3
    else:
      end_time_group = 4

    ##### 開始產生訂單 #####
    for j in range(0, len_of_date): #根據空間的建立時間，再跑到 31/12/2019
      start = open_time[i]  #重置每日的租用時段
      check_day = list(range(open_day[i], close_day[i]+1))
      
      Is_holiday = 1 if(date.isoweekday() == 6 or date.isoweekday() == 7) else 0

      if (date.isoweekday() in check_day):
        for k in range(start_time_group, end_time_group + 1):
          if (k == 1):
            order_start = datetime.datetime.strptime("09:00", format)
            order_end = morning
          elif (k == 2):
            order_start = morning
            order_end = noon
          elif (k == 3):
            order_start = noon
            order_end = afternoon
          else:
            order_start = afternoon
            order_end = datetime.datetime.strptime("21:00", format)
          ##### 計算訂單租用時間 #####
          diff = order_end - order_start 
          seconds = diff.total_seconds()
          hours = seconds // 3600
          minutes = (seconds % 3600) // 60
          duration = hours + minutes/60  #訂單租用時間
          
          ##### Actual write #####
          FOrders_writer.writerow([order_id, locate_id[i], space_id[i], size[i], duration, price[i], price[i]*duration, price[i]/size[i], date.date().strftime("%d/%m/%Y"), order_start.strftime("%H:%M:%S"), order_end.strftime("%H:%M:%S"), k, k, date.isoweekday(), Is_holiday, zipcode[i], category, mrt[i], status])
          order_id += 1
      date = date + datetime.timedelta(days=1)

  print("Generate the \"Fake_Orders_in_Empty_Time.csv\" successfully.")
  f2.close()

Generate the "Fake_Orders_in_Real_Orders_Time.csv" successfully.
Generate the "Fake_Orders_in_Empty_Time.csv" successfully.

### Fake & Real Orders: Combine and Filter Overlapping Parts

In [0]:
# Part 1: Combine Data 

#####  讀取真實訂單  #####
import numpy as np
import pandas as pd
real_order = pd.read_csv("Real_Order.csv",encoding = 'utf-8') #真實訂單(cat=1)
#real_order.rename(columns = {real_order.columns[12]: 'end_time_group'}, inplace = True)
real_order = real_order.fillna(0)

#####. 讀取假訂單並加上device(0~19)  #####
fake_orders_in_real_order = pd.read_csv("Fake_Orders_in_Real_Orders_Time.csv", encoding = 'utf-8')
fake_orders_empty_time = pd.read_csv("Fake_Orders_in_Empty_Time.csv", encoding = 'utf-8')
space_device_tra = pd.read_csv("space_device (Tranfer).csv", encoding = 'utf-8')

fake_orders_in_real_order = pd.merge(fake_orders_in_real_order, space_device_tra, on=['space_id'], how='left')
fake_orders_empty_time = pd.merge(fake_orders_empty_time, space_device_tra, on=['space_id'], how='left')

#####  整理輸入資料的欄位  #####
real_order.rename(columns = {real_order.columns[19]: '0'}, inplace = True)
real_order.rename(columns = {real_order.columns[20]: '1'}, inplace = True)
real_order.rename(columns = {real_order.columns[21]: '2'}, inplace = True)
real_order.rename(columns = {real_order.columns[22]: '3'}, inplace = True)
real_order.rename(columns = {real_order.columns[23]: '4'}, inplace = True)
real_order.rename(columns = {real_order.columns[24]: '5'}, inplace = True)
real_order.rename(columns = {real_order.columns[25]: '6'}, inplace = True)
real_order.rename(columns = {real_order.columns[26]: '7'}, inplace = True)
real_order.rename(columns = {real_order.columns[27]: '8'}, inplace = True)
real_order.rename(columns = {real_order.columns[28]: '9'}, inplace = True)
real_order = real_order.loc[:, ['id','locate_id','space_id','size','hours','price','order_price','price_per_size','date','start','end','start_time_group','end_time_group','weekday','Is_holiday','zipcode','category','mrt','status','0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19']]

fake_orders_in_real_order.rename(columns = {fake_orders_in_real_order.columns[19]: '0'}, inplace = True)
fake_orders_in_real_order.rename(columns = {fake_orders_in_real_order.columns[20]: '1'}, inplace = True)
fake_orders_in_real_order.rename(columns = {fake_orders_in_real_order.columns[21]: '2'}, inplace = True)
fake_orders_in_real_order.rename(columns = {fake_orders_in_real_order.columns[22]: '3'}, inplace = True)
fake_orders_in_real_order.rename(columns = {fake_orders_in_real_order.columns[23]: '4'}, inplace = True)
fake_orders_in_real_order.rename(columns = {fake_orders_in_real_order.columns[24]: '5'}, inplace = True)
fake_orders_in_real_order.rename(columns = {fake_orders_in_real_order.columns[25]: '6'}, inplace = True)
fake_orders_in_real_order.rename(columns = {fake_orders_in_real_order.columns[26]: '7'}, inplace = True)
fake_orders_in_real_order.rename(columns = {fake_orders_in_real_order.columns[27]: '8'}, inplace = True)
fake_orders_in_real_order.rename(columns = {fake_orders_in_real_order.columns[28]: '9'}, inplace = True)
fake_orders_in_real_order = fake_orders_in_real_order.loc[:, ['id','locate_id','space_id','size','hours','price','order_price','price_per_size','date','start','end','start_time_group','end_time_group','weekday','Is_holiday','zipcode','category','mrt','status','0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19']]

fake_orders_empty_time.rename(columns = {fake_orders_empty_time.columns[19]: '0'}, inplace = True)
fake_orders_empty_time.rename(columns = {fake_orders_empty_time.columns[20]: '1'}, inplace = True)
fake_orders_empty_time.rename(columns = {fake_orders_empty_time.columns[21]: '2'}, inplace = True)
fake_orders_empty_time.rename(columns = {fake_orders_empty_time.columns[22]: '3'}, inplace = True)
fake_orders_empty_time.rename(columns = {fake_orders_empty_time.columns[24]: '5'}, inplace = True)
fake_orders_empty_time.rename(columns = {fake_orders_empty_time.columns[25]: '6'}, inplace = True)
fake_orders_empty_time.rename(columns = {fake_orders_empty_time.columns[26]: '7'}, inplace = True)
fake_orders_empty_time.rename(columns = {fake_orders_empty_time.columns[27]: '8'}, inplace = True)
fake_orders_empty_time.rename(columns = {fake_orders_empty_time.columns[28]: '9'}, inplace = True)
fake_orders_empty_time = fake_orders_empty_time.loc[:, ['id','locate_id','space_id','size','hours','price','order_price','price_per_size','date','start','end','start_time_group','end_time_group','weekday','Is_holiday','zipcode','category','mrt','status','0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19']]

#####  合併訂單(未完成)--real order&fake orders in real order  #####
unfinish_order = real_order.append(fake_orders_in_real_order,ignore_index=True)
unfinish_order = unfinish_order.loc[:, ['id','locate_id','space_id','size','hours','price','order_price','price_per_size','date','start','end','start_time_group','end_time_group','weekday','Is_holiday','zipcode','category','mrt','status','0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19']]

In [34]:
# Part 2: Filter Overlapping Parts

#####  開始掃描fake order empty time  #####
colNames = ('id','locate_id',	'space_id',	'size',	'hours',	'price',	'order_price',	'price_per_size',	'date',	'start'	,'end',	'start_time_group',	'end_time_group',	'weekday',	'Is_holiday',	'zipcode',	'category',	'mrt','status','0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19')
masterDF = pd.DataFrame(columns = colNames)
num=200 # 200這個數字須大於總房間數!!!!!
for i in range(num): 
  temp_b=fake_orders_empty_time[fake_orders_empty_time['space_id']==i]
  temp_a=unfinish_order[unfinish_order['space_id']==i]
  temp_a_list=temp_a["date"].tolist()
  
  result = temp_b[temp_b['date'].map(lambda x:x not in temp_a_list)]

  masterDF = masterDF.append(result,ignore_index=True)# masterDF: filted empty order

#####  最終合併  #####   
final_combimed_order = unfinish_order.append(masterDF,ignore_index=True)

final_combimed_order.to_csv("final fake&real order.csv",index=False,sep=',',encoding = 'big5')
final_combimed_order

            id locate_id space_id size  hours price  ...  14  15 16 17 18 19
0        10403         8        1   12    4.0   300  ...   0   0  1  1  1  1
1        10286         8        1   12    3.0   300  ...   0   0  1  1  1  1
2         9949         8        1   12    3.0   300  ...   0   0  1  1  1  1
3        10285         8        1   12    3.0   300  ...   0   0  1  1  1  1
4         9950         8        1   12    2.0   300  ...   0   0  1  1  1  1
...        ...       ...      ...  ...    ...   ...  ...  ..  .. .. .. .. ..
444512  926416        22      187   22    3.0   700  ...   0   0  1  0  1  1
444513  926417        22      187   22    3.0   700  ...   0   0  1  0  1  1
444514  926418        22      187   22    2.0   700  ...   0   0  1  0  1  1
444515  926419        22      187   22    4.0   700  ...   0   0  1  0  1  1
444516  926420        22      187   22    3.0   700  ...   0   0  1  0  1  1

[444517 rows x 39 columns]

## Model Trianing

In [0]:
# 將資料套入 Regression model 進行預測

In [0]:
#計算總體模型準確率
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

data = pd.read_csv("2020.01.02 Final_combined_fake&real_order.csv", encoding = 'big5')
x = data.loc(axis = 1)[['locate_id', 'size', 'price_per_size','start_time_group','End_time_group','mrt', 'weekday', 'Is_holiday', 'status','0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19']]
x['status']-=1
labelencoder = LabelEncoder()
x['start_time_group'] = labelencoder.fit_transform(x['start_time_group'])
x['End_time_group'] = labelencoder.fit_transform(x['End_time_group'])
x['mrt'] = labelencoder.fit_transform(x['mrt'])
x['weekday'] = labelencoder.fit_transform(x['weekday'])
x['Is_holiday'] = labelencoder.fit_transform(x['Is_holiday'])
x['0'] = labelencoder.fit_transform(x['0'])
x['1'] = labelencoder.fit_transform(x['1'])
x['2'] = labelencoder.fit_transform(x['2'])
x['3'] = labelencoder.fit_transform(x['3'])
x['4'] = labelencoder.fit_transform(x['4'])
x['5'] = labelencoder.fit_transform(x['5'])
x['6'] = labelencoder.fit_transform(x['6'])
x['7'] = labelencoder.fit_transform(x['7'])
x['8'] = labelencoder.fit_transform(x['8'])
x['9'] = labelencoder.fit_transform(x['9'])
x['10'] = labelencoder.fit_transform(x['10'])
x['11'] = labelencoder.fit_transform(x['11'])
x['12'] = labelencoder.fit_transform(x['12'])
x['13'] = labelencoder.fit_transform(x['13'])
x['14'] = labelencoder.fit_transform(x['14'])
x['15'] = labelencoder.fit_transform(x['15'])
x['16'] = labelencoder.fit_transform(x['16'])
x['17'] = labelencoder.fit_transform(x['17'])
x['18'] = labelencoder.fit_transform(x['18'])
x['19'] = labelencoder.fit_transform(x['19'])

y = x['status']
x = x.drop('status', axis = 1)
x = x.drop('locate_id', axis = 1)
X_train, X_test, y_train, y_test = train_test_split(x, y, 
                                                    test_size=0.2, 
                                                    random_state=0)
model_all = LogisticRegression().fit(X_train, y_train)
print('總體模型訓練集準確率', model_all.score(X_train,y_train))
print('總體模型測試集準確率',model_all.score(X_test,y_test))

總體模型訓練集準確率 0.8071620769947807
總體模型測試集準確率 0.805524945278889

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [0]:
#計算個別模型準確率
data1 = pd.read_csv("2020.01.02 Final_combined_fake&real_order.csv", encoding = 'big5')
which_locate = int(input('想要預測哪個locate的準確率 ： '))
x_locate = data1.loc(axis = 1)[['locate_id', 'size', 'price_per_size','start_time_group','End_time_group','mrt', 'weekday', 'Is_holiday', 'status','0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19']]
x_locate = x_locate[x_locate["locate_id"] == which_locate]
y_locate = x_locate['status']
x_locate['status']-=1
labelencoder = LabelEncoder()
x_locate['start_time_group'] = labelencoder.fit_transform(x_locate['start_time_group'])
x_locate['End_time_group'] = labelencoder.fit_transform(x_locate['End_time_group'])
x_locate['mrt'] = labelencoder.fit_transform(x_locate['mrt'])
x_locate['weekday'] = labelencoder.fit_transform(x_locate['weekday'])
x_locate['Is_holiday'] = labelencoder.fit_transform(x_locate['Is_holiday'])
x_locate['0'] = labelencoder.fit_transform(x_locate['0'])
x_locate['1'] = labelencoder.fit_transform(x_locate['1'])
x_locate['2'] = labelencoder.fit_transform(x_locate['2'])
x_locate['3'] = labelencoder.fit_transform(x_locate['3'])
x_locate['4'] = labelencoder.fit_transform(x_locate['4'])
x_locate['5'] = labelencoder.fit_transform(x_locate['5'])
x_locate['6'] = labelencoder.fit_transform(x_locate['6'])
x_locate['7'] = labelencoder.fit_transform(x_locate['7'])
x_locate['8'] = labelencoder.fit_transform(x_locate['8'])
x_locate['9'] = labelencoder.fit_transform(x_locate['9'])
x_locate['10'] = labelencoder.fit_transform(x_locate['10'])
x_locate['11'] = labelencoder.fit_transform(x_locate['11'])
x_locate['12'] = labelencoder.fit_transform(x_locate['12'])
x_locate['13'] = labelencoder.fit_transform(x_locate['13'])
x_locate['14'] = labelencoder.fit_transform(x_locate['14'])
x_locate['15'] = labelencoder.fit_transform(x_locate['15'])
x_locate['16'] = labelencoder.fit_transform(x_locate['16'])
x_locate['17'] = labelencoder.fit_transform(x_locate['17'])
x_locate['18'] = labelencoder.fit_transform(x_locate['18'])
x_locate['19'] = labelencoder.fit_transform(x_locate['19'])

x_locate = x_locate.drop('status', axis = 1)
x_locate = x_locate.drop('locate_id', axis = 1)
X_locate_train, X_locate_test, y_locate_train, y_locate_test = train_test_split(x_locate, y_locate, 
                                                    test_size=0.2, 
                                                    random_state=0)
model_locate = LogisticRegression().fit(X_locate_train, y_locate_train)
print('個別模型訓練集準確率', model_locate.score(X_locate_train, y_locate_train))
print('個別模型測試集準確率',model_locate.score(X_locate_test,y_locate_test))

想要預測哪個locate的準確率 ： 3
個別模型訓練集準確率 0.8276006127280323
個別模型測試集準確率 0.826837416481069

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [0]:
#依照準確率來決定使用哪個模型
if model_locate.score(X_locate_test,y_locate_test) >= model_all.score(X_test,y_test):
  model = LogisticRegression().fit(X_locate_train, y_locate_train)
else:
  model = LogisticRegression().fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

## Price Predicting & Setting

In [0]:
# Part 1: Price Predicting

In [0]:
# Part 2: Price Setting